/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #2e8555;
  --ifm-color-primary-dark: #29784c;
  --ifm-color-primary-darker: #277148;
  --ifm-color-primary-darkest: #205d3b;
  --ifm-color-primary-light: #33925d;
  --ifm-color-primary-lighter: #359962;
  --ifm-color-primary-lightest: #3cad6e;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #25c2a0;
  --ifm-color-primary-dark: #21af90;
  --ifm-color-primary-darker: #1fa588;
  --ifm-color-primary-darkest: #1a8870;
  --ifm-color-primary-light: #29d5b0;
  --ifm-color-primary-lighter: #32d8b4;
  --ifm-color-primary-lightest: #4fddbf;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}

.card-video {
  background: #fff;
  border-radius: 18px;
  box-shadow: 0 2px 12px rgba(0,0,0,.08);
  padding: 20px;
  max-width: 500px;
  margin: 2rem 0 2rem 0.5rem;  /* 0.5rem left margin, adjust as needed */
}

.card-frame {
  border-radius: 12px;
  overflow: hidden;
  background: #1a1a1a;
}
.card-details {
  display: flex;
  justify-content: space-between;
  align-items: end;
  padding-top: 12px;
}
.card-title {
  font-size: 1.07rem;
  font-weight: 700;
}
.card-duration {
  font-size: 1rem;
  color: #888;
  background: #f5f5f5;
  padding: 2px 8px;
  border-radius: 8px;
}
